body {
  display: block;
  margin: 0px;
}

.thumbnail {
  transition: transform 0.2s;
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.thumbnail:hover {
  transform: scale(1.05);
}

/*Styling for the Pricing Page*/

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 30px;
  height: 400px;
  margin: auto;
 
}

#card1{
  box-shadow: 5px 5px 10px rgb(205, 63, 205), inset 5px 5px 8px  rgb(229, 45, 229);
}

#card2{
  box-shadow: 5px 5px 10px rgb(128, 203, 230), inset 5px 5px 8px  rgb(226, 202, 226);
}

#card3{
  box-shadow: 5px 5px 10px rgb(239, 189, 160), inset 5px 5px 8px  rgb(228, 203, 228);
}
#btn-buy {
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  cursor: pointer;
}

#btn-buy:hover{
  cursor: pointer;
  background-color: rgb(109, 127, 205);
  
}

#text-container{
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

}

#text-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#price-image{
width: 1920px;
}